<% @page_title = "Delete assignment: #{@assignment.title}" %>

<%= link_to("<< Back to List", assignments_path ) %>
<% a_type = @assignment.test ? "Test" : "Assignment" %>

<section class="assignment edit section_center">
  <h1>Delete <%= a_type %></h1>
  <div class="section_container">
    <%= form_for(:assignment, :url => assignment_path(@assignment.id), :html => { :method => :delete }) do |f| -%>
    <ul class="stripelist">

      <li>Are you sure you want to permanently delete this assignment?</li>

      <li class="reference-name"><%= @assignment.title %><%" from #{@assignment.course.name}" if @assignment.course %></li>

      </ul>
      <%= submit_tag("Delete #{a_type}", :class => "submit") %>



    <% end %>
  </div>
</section>


