<% @page_title = "Edit Assignment: #{@assignment.title}" %>

<%= link_to("<< Back to List", assignments_path) %>
<% a_type = @assignment.test ? "Test" : "Assignment" %>

<section class="assignment edit">
  <h1>Update <%= a_type %></h1>
  <div class="section_container">
  <%= form_for(@assignment) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update #{a_type}", :class => "submit") %>
    </div>
    
  <% end %>
</div>
</section>