
    <section class="section_todo">
		<hgroup>
        	<h1>Homework Due</h1><a href="#" class="settings">Settings</a>
        </hgroup>
        <div class="section_container">
            <ul class="stripelist todo_list">
              <% @tasks.each do |task| %>
              <% due = human_date(task.date) %>
                <li<%if task.test%> class="list_test"<%end%>>
                    <div class="urgency<%if due[1] == 1 || task.test then %> urgent<% end %>"></div>
                    <span class="todo_class"><%= task.class %></span>
                    <% if task.test%>
                    <span class="todo_title"><strong>Test: </strong><%= truncate(task.name, :length => 65, :omission => "...") %></span>
                    <%else%>
                    <span class="todo_title"><%= truncate(task.name, :length => 75, :omission => "...") %></span>
                    <% end %>
                   <span class="todo_due <%= "level#{due[1]}" unless task.test %><%= "leveltest" if task.test %>"><%= due[0] %></span>
                </li>
              <% end %>
              <% if @tasks.size < 7
                   (7-@tasks.size).times do   %>
                <li>
                    <div class="urgency"></div>
                </li>
              <% end
                 end %>
            </ul>
        </div>

        <div class="more">
            <a href="#">full to-do list...</a>
        </div>
    </section>

    <section class="section_calendar">
        <h1>Calendar</h1>
        <a href="#" class="settings">Settings</a>
        <div class="section_container">
            <hgroup>
                <div class="legend_container">
                    <div class="legend l1"><div class="task task_test">&nbsp;</div> Exams/Tests<br />
                                           <div class="task task_alert">&nbsp;</div> School alerts</div>
                    <div class="legend l2"><div class="task task_done">&nbsp;</div> Completed homework<br />
                                           <div class="task">&nbsp;</div> Incomplete homework</div>
                </div> <br />
                <h3><%= Time.now.strftime("%B, %Y")%></h3>
            </hgroup>
            <% @tasks = get_tasks(nil,true) %>
            <%= calendar_for(@tasks) do |t| %>

              <%= t.head('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat') %>
              <%= t.day do |day, tasks| %>
                <% tasks = tasks.slice!(0,9) %>
                <div class="task_contain">
                    <% day.day %>
                    <% tasks.each do |task| %>
                        <div class="task<%=" task_test" if task.test%>"><%= h(task.name) %></div>
                    <% end %>
                </div>
                <% if tasks.size > 0 %><a class="opentip" href="#">&nbsp;</a>
                <div class="tooltip">
                <span class="tipdate"><%= day.strftime("%A, %B %e") %></span>
                      <ul>
                      <% tasks.each do |task| %>
                          <li<%if task.test%> class="testtip"<%end%>><em><%= h(task.class) %></em><%= h(task.name) %></li>
                      <% end %>
                      </ul>
                </div><%end%>
              <% end %>
            <% end %>

			<div class="clear"></div>
    </div>
   <div class="more">
            <a href="#">full calendar...</a>
    </div>
    </section>
			<div class="clear"></div>
    <section class="section_class_dashboard">
        <h1>Class Dashboard</h1>
        <div class="section_container">
            <nav>
                <ul class="tabs stripelist">
                   <% @student.courses.each_with_index do |course, i| %>
                    <li><a <% if i == 0 %>class="selected" <% end %>href="<%= "#select_#{course.name.downcase.gsub(' ', '').gsub(':', '')}" %>"><%= course.name %></a></li>
                   <% end %>
                </ul>
            </nav>
            <% @student.courses.reverse.each do |course| %>
            <div class="class_selected" id="<%= "select_#{course.name.downcase.gsub(' ', '').gsub(':', '')}" %>">
                <hgroup>
					<h2><%= course.name %></h2><br/>
                    	<div class="class_details">
                            <span class="teacher"><%= course.teacher.name if course.teacher %></span>
                <% hours = course.time
                   minutes = course.time.slice!(2,2)
                   ampm = hours.to_i >= 12 ? "AM" : "PM"
                   hours = hours.to_i > 12 ? hours.to_i - 12 : hours.to_i %>
                           <span class="time"><%= "#{course.day}s at #{hours}:#{minutes}#{ampm}" %> <%= ", #{course.place}"  if !course.place.blank? %></span>
                        </div>
                </hgroup>
                <div class="class_pages">
                    <h3>Class Pages</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Assignments</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Syllabus</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Roster</a></li>
                            <li><a href="#">More...</a></li>
                        </ul>
                    </nav>
                </div>
                <% @tasks = get_tasks(course) %>
                <div class="class_todo">
                <h3>Latest Assignments</h3>
                <ul class="stripelist todo_list">
                    <% @tasks.each do |task| %>
                      <% due = human_date(task.date) %>
                        <li <%if task.test%> class="list_test"<%end%>>
                            <div class="urgency<%if due[1] == 1 || task.test then %> urgent<% end %>"></div>
                             <% if task.test%>
                            <span class="todo_title"><strong>Test: </strong><%= truncate(task.name, :length => 50, :omission => "...") %></span>
                            <%else%>
                            <span class="todo_title"><%= truncate(task.name, :length => 60, :omission => "...") %></span>
                            <% end %>
                            <span class="todo_due <%= "level#{due[1]}" unless task.test %><%= "leveltest" if task.test %>"><%= due[0] %></span>
                        </li>
                  <% end %>
                  <% if @tasks.size < 4
                       (4-@tasks.size).times do   %>
                  <li>
                    <div class="urgency"></div>
                 </li>
                 <% end
                     end %>

                </ul>
                </div>
            </div>
            <% end %>
			<div class="clear"></div>
        </div>

       <div class="more">
            <a href="#">completed classes...</a>
        </div>
    </section>

</div>