<%= error_messages_for(@user) %>

<table summary="User form fields">
  <% if @page_title == 'Create User' %>
  <tr>
    <th><%= f.label(:type, "User Type") %></th>
    <td><%= f.select(:type, ["Admin", "Teacher", "Student"]) %></td>
  </tr>
  <% end %>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
</table>
