<% @page_title = "Delete User: #{@user.name}" %>

<%= link_to("<< Back to List", users_path) %>

<section class="user delete section_center">
  <h1>Delete <%= @user.type %></h1>
  <div class="section_container">
    <%= form_for(:user, :url => user_path(@user.id), :html => { :method => :delete }) do |f| -%>
    <ul class="stripelist">

      <li>Are you sure you want to permanently delete this user?</li>

      <li class="reference-name"><%= @user.name %></li>

</ul>
      <%= submit_tag("Delete User", :class => "submit") %>

    <% end %>
  </div>
</section>


