<% @page_title = "Users List" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>
<div class="actions"><%= link_to('Add New User', new_user_path, :class => 'action new') %></div>
<section class="user list">
  <h1>User List</h1>
  <div class="section_container">


  <table class="listing toplist" summary="Users list">
    <tr>
      <th class="lister">Class</th>
      <th class="lister">Email</th>
      <th class="lister">Name</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class=""><%= user.class %></td>
      <td><%= user.email %></td>
      <td>

        <% if user.class == Teacher %>
            <%= link_to(user.name, teacher_path(user.id), :class => 'action edit') %>
        <% elsif user.class == Student %>
            <%= link_to(user.name, student_path(user.id), :class => 'action edit') %>
        <% else %>
            <%= user.name %>
        <% end %>

      </td>
      <td class="actions">
        <% if user.class == Admin %>
            <%= link_to('Edit', edit_admin_path(user.id), :class => 'action edit') %>
        <% elsif user.class == Teacher %>
            <%= link_to('Edit', edit_teacher_path(user.id), :class => 'action edit') %>
        <% elsif user.class == Student %>
            <%= link_to('Edit', edit_student_path(user.id), :class => 'action edit') %>
        <% else %>
            <%= link_to('Edit', edit_user_path(user.id), :class => 'action edit') %>
        <% end %>
        <%= link_to('Delete', delete_user_path(user.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
</section>