<% @page_title = "Users List" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>

<div class="user list">
  <h2>Users</h2>

  <%= link_to('Add New User', new_user_path, :class => 'action new') %>

  <div><%= pluralize(@users.size, 'user') %> found</div>
  
  <table class="listing" summary="Users list">
    <tr>
      <th>Class</th>
      <th>Email</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= user.class %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td class="actions">
        <% if user.class == Admin %>
            <%= link_to('Edit', edit_admin_path(user.id), :class => 'action edit') %>
        <% elsif user.class == Teacher %>
            <%= link_to('Edit', edit_teacher_path(user.id), :class => 'action edit') %>
        <% elsif user.class == Student %>
            <%= link_to('Edit', edit_student_path(user.id), :class => 'action edit') %>
        <% else %>
            <%= link_to('Edit', edit_user_path(user.id), :class => 'action edit') %>
        <% end %>
        <%= link_to('Delete', delete_user_path(user.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
