<%= error_messages_for(@courses) %>

<table summary="Course form fields">
  <tr>
    <th><%= f.label(:teacher_id, "Teacher") %></th>
    <td><%= f.select(:teacher_id, @teachers.collect {|teacher| [teacher.list_name, teacher.id]}, :allow_blank => true) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, "Course Name") %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description, "Course Description") %></th>
    <td><%= f.text_area(:description, :size => '40x10') %></td>
  </tr>
  <tr>
    <th><%= f.label(:day) %></th>
    <td><%= f.select(:day, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]) %></td>
  </tr>
  <tr> <!--   map do |x| format("%02d", x) end -->
    <th><%= f.label(:time, "Starting Time") %></th>
    <td><%= f.select :time_hours, options_for_select(("07".."23").to_a, @course.time.to_s.slice(0,2) ) %> :
        <%= f.select :time_minutes, options_for_select(("00".."59").step(5).to_a, @course.time.to_s.slice(2,2) ) %></td>
  </tr>
  <tr>
    <th><%= f.label(:duration, "Duration") %></th>
    <td><%= f.select :duration_hours, options_for_select(("00".."05").to_a, @course.duration.to_s.slice(0,2) ) %> :
        <%= f.select :duration_minutes, options_for_select(("00".."59").step(5).to_a, @course.duration.to_s.slice(2,2) ) %></td>
  </tr>
  <tr>
    <th><%= f.label(:open) %></th>
    <td><%= f.check_box(:open) %></td>
  </tr>
</table>
