<%= error_messages_for(@courses) %>

<table summary="Course form fields">
  <tr>
    <th><%= f.label(:teacher_id, "Teacher") %></th>
    <td><%= f.select(:teacher_id, @teachers.collect {|teacher| [teacher.list_name, teacher.id]}, :allow_blank => true) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name, "Course Name") %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description, "Course Description") %></th>
    <td><%= f.text_area(:description, :size => '40x10') %></td>
  </tr>
  <tr>
    <th><%= f.label(:day) %></th>
    <td><%= f.select(:day, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]) %></td>
  </tr>
  <tr>
    <th><%= f.label(:time, "Starting Time") %></th>
    <td><%= f.select(:time_hours, (7..23).map do |x| format("%02d", x) end ) %> : <%= f.select(:time_minutes, (00..59).step(5).map do |x| format("%02d", x) end ) %></td>
  </tr>
  <tr>
    <th><%= f.label(:duration, "Duration") %></th>
    <td><%= f.select(:duration_hours, (0..5).map do |x| format("%02d", x) end ) %> : <%= f.select(:duration_minutes, (00..59).step(5).map do |x| format("%02d", x) end ) %></td>
  </tr>
  <tr>
    <th><%= f.label(:open) %></th>
    <td><%= f.check_box(:open) %></td>
  </tr>
</table>
