<% @page_title = "Courses List" %>

<div class="course list">
  <h2>Courses</h2>
  
  <%= link_to("Add New Course", new_course_path, :class => 'action new') %>

  <table class="listing" summary="Course list">
    <tr class="header">
      <th>Course</th>
      <th>Open?</th>
      <th>Students</th>
      <th>Actions</th>
    </tr>
    <% @courses.each do |course| %>
    <tr>
      <td><%= link_to(course.name, course_path(course.id), :class => 'action show') %></td>
      <td class="center"><%= status_tag(course.open) %></td>
      <td class="center"><%= course.enrollments.size %></td>
      <td class="actions">
        <%= link_to("Enrollments", "#", :class => 'action show') %>
        <%= link_to("Assignments", "#", :class => 'action show') %>
        <%= link_to("Edit", edit_course_path(course.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_course_path(course.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
