<% @page_title = "Show Course: #{@course.name}" %>

<%= link_to("<< Back to List", courses_path, :class => 'back-link') %>

<div class="actions"><%= link_to('Edit', edit_course_path(@course.id), :class => 'action edit') %></div>

<div class="course show">
  <section>
  <h1>Course Details</h1>
  <div class="section_container">
  <table class="listing sidelist" summary="Course detail view">
    <tr>
      <th>Teacher</th>
      <% if @course.teacher %>
      <td><%= link_to(@course.teacher.name, teacher_path(@course.teacher.id), :class => 'action show') %></td>
      <% else %>
      <td>&nbsp;</td>
      <% end %>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @course.name %></td>
    </tr>
    <tr>
      <th>Day</th>
      <td><%= @course.day %></td>
    </tr>
    <tr>
      <th>Time</th>
      <td><%= @course.time %></td>
    </tr>
    <tr>
      <th>Duration</th>
      <td><%= @course.duration %></td>
    </tr>
    <tr>
      <th>Open?</th>
      <td><%= @course.open ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @course.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @course.updated_at %></td>
    </tr>
  </table>
  </div>
  </section>

  <section>
  <h1>Assignments</h1>
  <div class="section_container">
  <table class="listing toplist" summary="Assignment list">
    <tr class="header">
      <th class="lister">Assignment</th>
      <th class="num">Due Date</th>
      <th>&nbsp;</th>
    </tr>
    <% @course.assignments.each do |assignment| %>
    <tr>
      <td<%if assignment.test%> class="testbar"<%end%>><%= link_to(simple_format(word_wrap(assignment.title, :line_width => 65)), assignment_path(assignment.id), :class => 'action show') %></td>
      <td class="num<%= " testbar"if assignment.test%>"><%= assignment.due_date %></td>
      <td class="actions<%= " testbar"if assignment.test%>">
        <%= link_to("Edit", edit_assignment_path(assignment.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_assignment_path(assignment.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
  </section>

  <section>
  <h1>Enrollments</h1>
  <div class="section_container">
    <table class="listing toplist" summary="Enrollment list">
    <tr class="header">
      <th class="lister">Name</th>
      <th>&nbsp;</th>
    </tr>
    <% @course.students.each do |student| %>
    <tr>
      <td class="center"><%= link_to(student.name, student_path(student.id), :class => 'action show') %></td>
      <td class="actions">
        <%= link_to("Remove", delete_enrollment_path(student.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  </div>
  </section>

  <div class="spacer">&nbsp;</div>
  
</div>
