<!DOCTYPE html>
<html>
 <head>
    <title>Coursie | <%= @page_title || 'Admin Area' %></title>
    <%= stylesheet_link_tag('reset', 'style', :media => 'all') %>
    <%= javascript_include_tag('jquery-1.6.min', 'jquery.tools.min', 'overlabel') %>
    <%= javascript_include_tag('tabs') %>
  </head>
  <body class="adminarea">
    <% unless @page_title == "Login" %>
    <header>
      <nav>
          <ul>
            <li><%= link_to("Logout", :controller => 'access', :action => 'logout') %></li>
            <li>Logged in as <em><%= User.find_by_id(session[:user_id]).name %></em></li>
            <li class="logo"><%= link_to("#{session[:type]} Menu", :controller => 'access', :action => 'menu') %></li>
          </ul>
      </nav>
    </header>
    <% end %>
    <div id="main">
      <% if @page_title == "Login"%><div class="spacer">&nbsp;</div><%end%>
      <div class="content">
      <%if @page_title == "Admin Login" %><div class="spacer"></div><%end%>
              <% if !flash[:notice].blank? %>
      <ul class="alerts">
		<li class="exam_alert"> <%= flash[:notice] %></li>
	  </ul>
      <% end %>
        <%= yield %>
      </div>
    </div>
  <div class="spacer">&nbsp;</div>
  </body>
</html>
